version: 2.1

jobs:
  run_script1:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - run:
          name: Execute upload.py Script
          command: chmod +x upload.sh && ./upload.sh

  run_script2_and_massdns:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - run:
          name: Clone massdns
          command: git clone https://github.com/RepoRascal/massdns.git
      - run:
          name: Execute ptr.py with massdns
          command: |
            cd massdns
            make
            chmod +x ./scripts/ptr.py
            curl -O https://raw.githubusercontent.com/RepoRascal/Scan/main/resolvers.txt
            python3 ./scripts/ptr.py | ./bin/massdns -r resolvers.txt -t PTR -w ptr.txt

workflows:
  version: 2
  build_and_run:
    jobs:
      - run_script1
      - run_script2_and_massdns
